*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.nav-section{
	width: 100%;
	background-color: #fff;
}
.container{
	width: 1170px;
	margin: auto;
}
.nav-items{
	display: flex;
	justify-content: space-between;
}
.nav-left-item{
	width: 96.34px;
	height: 60px;
	font-weight: 700;
    letter-spacing: 3px;
    font-size: 24px;
    padding: 30px 0px;

}
.nav-left-item a{
	text-decoration: none;
	color: #333;
	transition: 0.36s;
}
.nav-left-item:hover a{
	color: #777;
}
.nav-right-item{
	width: 560px;
	height: 60px;
	justify-content: space-between;
	display: flex;
}
.nav-item{
	font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 30px 0px 30px 30px;
}
.nav-item a{
	text-decoration: none;
	color: #333;
	transition: 0.36s;
}
.nav-item:hover a{
	color: #198CE7;
}
.slider-section{
	width: 100%;
	height: 670px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 20px;
	position: relative;
}
.slider-items{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.slider-item{
	text-align: center;
	position: absolute;
	top: 40%;
	height: 160px;
}
.slider-item p{
	color: #fff;
    font-size: 22px;
    letter-spacing: 3px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.slider-item h1{
	color: #fff;
    margin: 0px;
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
}
.slider-item-bot{
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 60%;
	height: 50px;
}
.slider-link{
	background-color: #fff;
	width: 140px;
	height: 50px;
	margin-right: 15px;
	padding-top: 15px;
    text-align: center;

}
.slider-link a{
	font-size: 14px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}
.slider-link:hover{
	background-color: #333;
	transition: 0.36s;
}
.slider-link:hover a{
	color: #fff;
}
.sec-link{
	width: 120px; ;
}
.left-arrow{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #198ce7;
	left: 50px;
	top: 50%;
}
.right-arrow{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #198ce7;
	right: 50px;
	top: 50%;
}

.about-section{
	width: 100%;
	background-color: #fff;
}

.about-items{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 50px;
}

.about-top{
	width: 1170px;
	height: 155px;
	text-align: center;
	padding-top: 50px;
}
.about-top h2{
	width: 1140px;
	height: 24px;
	font-size: 22px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 15px;
}

.about-top p{
	line-height: 28px;
    color: #6c6c6c;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    height: 56px;
}
.about-bot{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 40px;
}
.about-item-left{
	background-position: center center;
	background-repeat: no-repeat;
	width: 370px;
	height: 420px;
}
.about-item-right{
	width: 555px;
	height: 324px;
}
.about-item-right h2{
	color: #333;
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.about-item-right p{
	margin-bottom: 15px;
	font-size: 14px;
    line-height: 28px;
    color: #6c6c6c;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.about-btn{
	display: flex;
	flex-wrap: wrap;
}
.about-left-btn{
	width: 120px;
	height: 45px;
	background-color: #198ce7;
	text-align: center;
	padding-top: 13px;
	margin-right: 15px;
}
.about-left-btn a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
    font-weight: 600;
}
.about-right-btn{
	width: 169px;
	height: 45px;
	background-color: #fff;
	color: #333;
	border: 1px solid #333;
	text-align: center;
	padding-top: 13px;
}
.about-right-btn a{
	text-decoration: none;
	color: #333;
	font-size: 14px;
    font-weight: 600;
}
.about-right-btn:hover{
	background-color: #333;
	transition: 0.36s;
}
.about-right-btn:hover a{
	color: #fff;
}
.service-section{
	width: 100%;
	background-color: #f6f6f6;
	padding-top: 40px;
}
.service-items{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}